<a href="https://colab.research.google.com/github/lakshmansamvith/Kaggle-Compete-/blob/master/HousePricing/HousePricing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [424]:
from google.colab import drive 
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Import Training and Testing Datasets

In [425]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns 

train_set = pd.read_csv('/content/drive/My Drive/House Pricing/train.csv')
test_set = pd.read_csv('/content/drive/My Drive/House Pricing/test.csv')
train_set

        Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0        1          60       RL  ...        WD         Normal    208500
1        2          20       RL  ...        WD         Normal    181500
2        3          60       RL  ...        WD         Normal    223500
3        4          70       RL  ...        WD        Abnorml    140000
4        5          60       RL  ...        WD         Normal    250000
...    ...         ...      ...  ...       ...            ...       ...
1455  1456          60       RL  ...        WD         Normal    175000
1456  1457          20       RL  ...        WD         Normal    210000
1457  1458          70       RL  ...        WD         Normal    266500
1458  1459          20       RL  ...        WD         Normal    142125
1459  1460          20       RL  ...        WD         Normal    147500

[1460 rows x 81 columns]

# Checking Attributes

In [426]:
train_set.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

# Describe Data

In [427]:
train_set.describe()

                Id   MSSubClass  ...       YrSold      SalePrice
count  1460.000000  1460.000000  ...  1460.000000    1460.000000
mean    730.500000    56.897260  ...  2007.815753  180921.195890
std     421.610009    42.300571  ...     1.328095   79442.502883
min       1.000000    20.000000  ...  2006.000000   34900.000000
25%     365.750000    20.000000  ...  2007.000000  129975.000000
50%     730.500000    50.000000  ...  2008.000000  163000.000000
75%    1095.250000    70.000000  ...  2009.000000  214000.000000
max    1460.000000   190.000000  ...  2010.000000  755000.000000

[8 rows x 38 columns]

# Checking for Null Values

In [428]:
null_values = train_set.isnull().sum()
test_null_values = train_set.isnull().sum()
drop_columns = [(null_values.index[count]) for count, val in enumerate(null_values) if val/len(train_set)>0.5]
test_drop_columns = [(null_values.index[count]) for count, val in enumerate(null_values) if val/len(test_set)>0.5]
print(drop_columns, len(train_set.columns))
print(test_drop_columns)

['Alley', 'PoolQC', 'Fence', 'MiscFeature'] 81
['Alley', 'PoolQC', 'Fence', 'MiscFeature']

# Dropping Columns where most of the values are Null

In [429]:
train_set = train_set.drop(labels=drop_columns, axis=1)
test_set = test_set.drop(labels=drop_columns, axis=1)

len(train_set.columns)

77

# Checking for Unique Values

In [0]:
unique_value_counts =  [( X_df[col].value_counts() ) for col in (X_df.columns[1:]) ]
#unique_value_counts

# Getting information on numerical and non-numerical columns for imputing values

In [431]:
numerical_values = [(col) for ind, col in enumerate(train_set.columns[1:76]) if (isinstance(train_set[col][ind],  np.int64) or 
                                                                               isinstance(train_set[col][ind],  np.float64))]
numerical_values
non_numerical_values = [(col) for ind, col in enumerate(train_set.columns[1:76]) if col not in numerical_values]
numerical_values

['MSSubClass',
 'LotFrontage',
 'LotArea',
 'OverallQual',
 'OverallCond',
 'YearBuilt',
 'YearRemodAdd',
 'MasVnrArea',
 'BsmtFinSF1',
 'BsmtFinSF2',
 'BsmtUnfSF',
 'TotalBsmtSF',
 '1stFlrSF',
 '2ndFlrSF',
 'LowQualFinSF',
 'GrLivArea',
 'BsmtFullBath',
 'BsmtHalfBath',
 'FullBath',
 'HalfBath',
 'BedroomAbvGr',
 'KitchenAbvGr',
 'TotRmsAbvGrd',
 'Fireplaces',
 'GarageYrBlt',
 'GarageCars',
 'GarageArea',
 'WoodDeckSF',
 'OpenPorchSF',
 'EnclosedPorch',
 '3SsnPorch',
 'ScreenPorch',
 'PoolArea',
 'MiscVal',
 'MoSold',
 'YrSold']

#Separating Input and Target Columns

In [0]:
X_df = train_set.copy()

#Imputing NaN values

In [0]:
from sklearn.impute import SimpleImputer 
imputer = SimpleImputer(missing_values=np.NaN, strategy='mean')
imputer.fit(X_df[numerical_values])
X_df[numerical_values] = imputer.transform(X_df[numerical_values])
test_set[numerical_values] = imputer.transform(test_set[numerical_values])

In [434]:
sums = test_set.isnull().sum()
for ind, val in enumerate(sums):
        if (isinstance(X_df[sums.index[ind]][1], np.int64) or isinstance(X_df[sums.index[ind]][1], np.float64)):
            print(sums.index[ind], val, type(X_df[sums.index[ind]][1]))

Id 0 <class 'numpy.int64'>
MSSubClass 0 <class 'numpy.float64'>
LotFrontage 0 <class 'numpy.float64'>
LotArea 0 <class 'numpy.float64'>
OverallQual 0 <class 'numpy.float64'>
OverallCond 0 <class 'numpy.float64'>
YearBuilt 0 <class 'numpy.float64'>
YearRemodAdd 0 <class 'numpy.float64'>
MasVnrArea 0 <class 'numpy.float64'>
BsmtFinSF1 0 <class 'numpy.float64'>
BsmtFinSF2 0 <class 'numpy.float64'>
BsmtUnfSF 0 <class 'numpy.float64'>
TotalBsmtSF 0 <class 'numpy.float64'>
1stFlrSF 0 <class 'numpy.float64'>
2ndFlrSF 0 <class 'numpy.float64'>
LowQualFinSF 0 <class 'numpy.float64'>
GrLivArea 0 <class 'numpy.float64'>
BsmtFullBath 0 <class 'numpy.float64'>
BsmtHalfBath 0 <class 'numpy.float64'>
FullBath 0 <class 'numpy.float64'>
HalfBath 0 <class 'numpy.float64'>
BedroomAbvGr 0 <class 'numpy.float64'>
KitchenAbvGr 0 <class 'numpy.float64'>
TotRmsAbvGrd 0 <class 'numpy.float64'>
Fireplaces 0 <class 'numpy.float64'>
GarageYrBlt 0 <class 'numpy.float64'>
GarageCars 0 <class 'numpy.float64'>
GarageArea 0 <class 'numpy.float64'>
WoodDeckSF 0 <class 'numpy.float64'>
OpenPorchSF 0 <class 'numpy.float64'>
EnclosedPorch 0 <class 'numpy.float64'>
3SsnPorch 0 <class 'numpy.float64'>
ScreenPorch 0 <class 'numpy.float64'>
PoolArea 0 <class 'numpy.float64'>
MiscVal 0 <class 'numpy.float64'>
MoSold 0 <class 'numpy.float64'>
YrSold 0 <class 'numpy.float64'>

# Ordinal Encoding

In [435]:
from sklearn.preprocessing import OrdinalEncoder

X_df[non_numerical_values] = X_df[non_numerical_values].replace(np.nan, '?', inplace=True)
test_set[non_numerical_values] = test_set[non_numerical_values].replace(np.nan, '?', inplace=True)
encoder = OrdinalEncoder()
encoder.fit(X_df[non_numerical_values])
X_df[non_numerical_values] = encoder.transform(X_df[non_numerical_values])
test_set[non_numerical_values] = encoder.transform(test_set[non_numerical_values])

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4172: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

#Imputing Categorical Values

In [0]:
categorical_imputer = SimpleImputer(missing_values=np.NaN, strategy='most_frequent')
categorical_imputer.fit(X_df[non_numerical_values])
X_df[non_numerical_values] = categorical_imputer.transform(X_df[non_numerical_values])
test_set[non_numerical_values] = categorical_imputer.transform(test_set[non_numerical_values])

# Correlation

In [455]:
correlation_values = X_df.corr()
saleprice_corr = correlation_values['SalePrice']
featured_attributes =[(saleprice_corr.index[count]) for count, value in enumerate(saleprice_corr) if(value>0.4 and value!=1)]
test_set_copy = test_set[featured_attributes].copy()
featured_attributes

['OverallQual',
 'YearBuilt',
 'YearRemodAdd',
 'MasVnrArea',
 'TotalBsmtSF',
 '1stFlrSF',
 'GrLivArea',
 'FullBath',
 'TotRmsAbvGrd',
 'Fireplaces',
 'GarageYrBlt',
 'GarageCars',
 'GarageArea']

#Split into Testing and Training Dataset

In [0]:
from sklearn.model_selection import train_test_split

X = X_df[featured_attributes].values
y = X_df['SalePrice'].values

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

# Training XGBoost Regressor

In [470]:
from xgboost.sklearn import XGBRegressor
my_model = XGBRegressor()
my_model.fit(X_test, y_test)
#my_model.score(X_test, y_test)

[12:05:56] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

#Dealing with Test Data

In [0]:
import csv 

test_data = test_set_copy.values
y_predicted_values = my_model.predict(test_data)
House_Ids = test_set['Id'].values.tolist()
test_set.columns
row = 0
with open('HousePricing.csv', 'w') as file:
     writer = csv.writer(file, lineterminator='\n')
     for count in range(len(House_Ids)): 
         if row == 0:
             writer.writerow(['Id', 'SalePrice'])
         writer.writerow(([House_Ids[count], y_predicted_values[count]]))
         row = row + 1